@import './config.less';

[np-connections-orders] a.active,
[np-connections-orders] .link.active {
    color: @linkActiveColor;
    cursor: default;;
}

[np-connections-orders] li[class*="span"],
[np-connections-orders] form[class*="span"] {
    margin-left: 0;
}

[np-connections-orders] .tools {
    margin: 0 0 20px 0;
    order-style: none;
}
[np-connections-orders] .tools > li {
    display: block;
}

/* orders-set */

/* current-order */
