<script id="desktop-view" type="text/template">
    <div np-loader="loader" np-loader-type="'line-balls'" fade="true" fade-opacity="0.75" fade-duration="250"></div>
    <div np-message="message" fade="true" fade-opacity="0.9" fade-duration="250"></div>

    <div class="muted align-center authenticate-info" ng-hide="isUserAuthenticated()">
        ${_trc("Для работы с приложением необходимо", "Для работы с приложением необходимо войти или зарегистрироваться")}
        <a ng-click="showLoginForm()">${_trc("войти", "Для работы с приложением необходимо войти или зарегистрироваться")}</a>
        ${_trc("или", "Для работы с приложением необходимо войти или зарегистрироваться")}
        <a class="underline" href="/reg/" target="_blank">${_trc("зарегистрироваться", "Для работы с приложением необходимо войти или зарегистрироваться")}</a>
    </div>

    <div ng-show="isUserAuthenticated()">
        <ul class="desktop-tab nav nav-tabs">
            <li><a data-target="#np-connections-lists" ng-click="navigation.doNav($event)">${_trc("Списки", "Пользовательские списки")}</a></li>
            <li><a data-target="#np-connections-orders" ng-click="navigation.doNav($event)">${_trc("Проверки связей", "Заказы на проверку взаимосвязей")}<span np-connections-orders-viewed-info></span></a></li>
            <!-- @Deprecated <li><a data-target="#np-connections-notifications" ng-click="navigation.doNav($event)">${_trc("Уведомления", "Уведомления пользователю")}</a></li> -->
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="np-connections-lists" np-connections-lists></div>
            <div class="tab-pane" id="np-connections-orders" np-connections-orders></div>
            <!-- @Deprecated <div class="tab-pane" id="np-connections-notifications" np-connections-notifications></div> -->
        </div>
    </div>
</script>
