/* connections */

@import '../../connections/desktop/styles/desktop.less';
@import '../../connections/lists/styles/lists.less';

.np-connections .tab-content {
    overflow-x: visible;
    overflow-y: visible;
    overflow: visible;
}
