<!-- orders-view -->
<script id="orders-view" type="text/template">
    <div class="tab-content">
        <!-- Просмотр заказов -->
        <div class="tab-pane orders-set" id="np-connections-orders-orders-set">
            <div class="row" ng-hide="ordersSet.result.isEmpty()">
                <div class="span6">
                    <ul class="orders-nav tools">
                        <li ng-show="navigation.prevTarget === '#np-connections-orders-current-order'"><a data-target="#np-connections-orders-current-order" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к просмотру проверки", "Проверки связей")}</a></li>
                    </ul>
                </div>
                <div class="align-right tools">
                    <button class="btn flat delete-orders-btn" ng-disabled="!ordersSet.checked.isChecked()" np-inline-confirm="ordersSet.doDeleteOrders()" confirm-text='${_trc("Точно удалить выбранные проверки связей?", "Проверки связей")}'><i class="icon i-trash"></i>${_trc("Удалить выбранные проверки связей", "Проверки связей")}</button>
                </div>
            </div>
            <div class="muted align-center empty-result" ng-show="ordersSet.result.isEmpty()">${_trc("У вас нет проверок связей", "Проверки связей")}</div>
            <ul class="orders" ng-hide="ordersSet.result.isEmpty()" infinite-scroll="ordersSet.result.nextPage()" infinite-scroll-disabled="ordersSet.result.hasNotNextPage()" infinite-scroll-distance="0">
                <li class="order" ng-class="['order-status-' + order.status, ordersSet.canViewOrder(order) ? 'can-view' : '', ordersSet.isOrderNotViewed(order) ? 'not-viewed' : '']" id="{{buildOrderItemDomId(order.id)}}" ng-repeat="order in ordersSet.result.getList() track by order.id">
                    <div class="row">
                        <div class="list-item-info">
                            <div class="list-item-info-entry list-item-number" ng-show="ordersSet.result.isShowingItemNumbers()">{{$index + 1}}.</div>
                        </div>
                        <div class="span1" np-connections-checked="order" np-connections-checked-check="ordersSet.checked.check(order)"></div>
                        <div class="span11 click-wrapper">
                            <div class="row" ng-click="ordersSet.canViewOrder(order) && ordersSet.showOrder(order)">
                                <div class="span7 lists-wrapper">
                                    <a data-target="#np-connections-orders-current-order">
                                        <span class="list" ng-repeat="list in order.userLists track by list.id">{{list.name}}</span>
                                    </a>
                                </div>
                                <div class="span2 muted order-date order-info-text">{{order.changed | amDateFormat:'${_trc("medium", "Формат даты: http://momentjs.com/docs/#/displaying/format/")}'}}</div>
                                <div class="muted align-right order-info-text">
                                    <span class="order-status-text">{{_tr('NP.CONNECTIONS.ORDER_STATUS.' + order.status)}}<span class="order-progress-indicator">...</span></span>
                                    <!-- TODO uncomment
                                    <button class="btn flat mini cancel-order" np-inline-confirm="ordersSet.removeCheckedOrders()" confirm-text='${_trc("Точно отменить?", "Проверки связей")}'><i class="icon i-delete"></i>${_trc("Отменить проверку", "Проверки связей")}</button>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Просмотр заказа -->
        <div class="tab-pane current-order" id="np-connections-orders-current-order">
            <ul class="row orders-nav tools">
                <li class="span6"><a data-target="#np-connections-orders-orders-set" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к проверкам", "Проверки связей")}</a></li>
            </ul>
            <div class="order-info" ng-class="'order-status-' + currentOrder.order.status">
                <div class="row order">
                    <ul class="span7 lists-wrapper">
                        <li ng-repeat="list in currentOrder.order.userLists track by $index">{{list.name}}</li>
                    </ul>
                    <div class="span2 muted order-date order-info-text">{{currentOrder.order.changed | amDateFormat:'${_trc("medium", "Формат даты: http://momentjs.com/docs/#/displaying/format/")}'}}</div>
                    <div class="muted align-right order-info-text">
                        <span class="order-status-text">{{_tr('NP.CONNECTIONS.ORDER_STATUS.' + currentOrder.order.status)}}<span class="order-progress-indicator">...</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 muted check-options-info" ng-show="currentOrder.getListCount() > 1">
                        <span ng-hide="currentOrder.order.checkOptions.insideList">${_trc("Проверка внутри списков не проводилась", "Проверки связей")}</span>
                        <span ng-show="currentOrder.order.checkOptions.insideList">${_trc("Проводилась проверка внутри списков", "Проверки связей")}</span>
                    </div>
                </div>

                <div class="order-result-box align-center" ng-show="currentOrder.isEmptyResult()">${_trc("Связей не найдено", "Проверки связей")}</div>

                <div class="order-result-box align-center" ng-show="currentOrder.isFailResult()">
                    <p>${_trc("Что-то пошло не так", "Ошибка при выполнении приложения")}&nbsp;&nbsp;<i class="icon i-sad"></i></p>
                    <p>${_trc("К сожалению, проверка связей не выполнена.", "Проверки связей")}</p>
                    <p>
                        ${_trc("Обратитесь", "Обратитесь в службу поддержки Национального кредитного бюро.")}
                        <a class="underline" href="/contacts/" target="_blank">${_trc("в службу поддержки", "Обратитесь в службу поддержки Национального кредитного бюро.")}</a>
                        ${_trc("Национального кредитного бюро.", "Обратитесь в службу поддержки Национального кредитного бюро.")}
                    </p>
                </div>

                <div class="order-result-box" ng-class="{'current-trace-checked': currentOrder.isCurrentTraceChecked()}" ng-show="currentOrder.isResult()">
                    <div class="align-right tools">
                        <div class="trace-check">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="currentOrder.getCurrentTraceInfo().checked">
                                ${_trc("выбрать цепочку", "Проверки связей")}
                            </label>
                        </div>
                        <button class="btn flat" ng-disabled="!currentOrder.isTracesChecked()" ng-click="currentOrder.doOpenInRelation()"><i class="icon i-graph-cluster"></i> ${_trc("Анализировать выбранные цепочки", "Проверки связей")}</button>
                        <button class="btn flat" ng-disabled="!currentOrder.isTracesChecked()" ng-click="currentOrder.doExportResult()"><i class="icon i-document-2"></i> ${_trc("Экспортировать выбранные цепочки", "Проверки связей")}</button>
                    </div>
                    <div class="row order-result">
                        <div class="span9 node-traces-view"></div>
                        <div class="span3 pairs-box">
                            <div class="pairs">
                                <a class="pair" ng-repeat="pair in currentOrder.getResultPairs() track by $index" ng-click="currentOrder.doNodePairTracesResult($index)" ng-class="{'active': currentOrder.nodeTracesCurrentPair === $index}">
                                    <span class="text-ellipsis" np-rsearch-node-simple="currentOrder.getResultEntry(pair.first).node"></span>
                                    <span class="text-ellipsis" np-rsearch-node-simple="currentOrder.getResultEntry(pair.second).node"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- orders-viewed-info-view -->
<script id="orders-viewed-info-view" type="text/template">
    <span class="badge animate-pulsed-flash" ng-show="notViewedOrderCount">{{notViewedOrderCount | number}}</span>
</script>
