<!-- orders-view -->
<script id="orders-view" type="text/template">
    <div class="tab-content">
        <!-- Просмотр заказов -->
        <div class="tab-pane orders-set" id="np-connections-orders-orders-set" ng-class="{'request-pending': !ordersSet.isRequestDone}">
            <ul class="row orders-nav tools">
                <li class="span6" ng-show="true || navigation.prevTarget === '#np-connections-orders-current-order'"><a data-target="#np-connections-orders-current-order" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к просмотру проверки", "Проверки связей")}</a></li>
            </ul>
            // TODO Просмотр заказов
        </div>

        <!-- Просмотр заказа -->
        <div class="tab-pane current-order" id="np-connections-orders-current-order">
            <ul class="row orders-nav tools">
                <li class="span6"><a data-target="#np-connections-orders-orders-set" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к проверкам", "Проверки связей")}</a></li>
            </ul>
            // TODO Просмотр заказа
        </div>

    </div>
</script>
