@import './config.less';

/* notifications-set */
[np-connections-notifications] .notifications-set .empty-result {
    padding-top: 40px;
}

[np-connections-notifications] .notifications-set .notifications {
    margin: 10px 0 0 0;
    list-style: none;
    overflow: hidden;
}
[np-connections-notifications] .notifications-set .notifications > .notification {
    display: block;
    padding: 20px 0 10px 0;
    border-top: 1px solid @defaultLineColor;
}
[np-connections-notifications] .notifications-set .notifications > .notification:first-child {
    border-top: 0 none;
}

[np-connections-notifications] .notifications-set .notifications > .notification .span1 {
    width: auto;
}
[np-connections-notifications] .notifications-set .notifications > .notification .lists-wrapper {
    width: @orderListWrapperWidth;
}
[np-connections-notifications] .notifications-set .notifications > .notification .lists-wrapper a {
    display: inline-block;
    color: @defaultColor;
    cursor: default;
}
[np-connections-notifications] .notifications-set .notifications > .notification .lists-wrapper a .list {
    display: block;
    margin-bottom: 10px;
}
[np-connections-notifications] .notifications-set .notifications > .notification .span2 {
    width: 110px;
}
