@import './config.less';

[np-connections-lists] .tools.order {
    height: 45px;
    padding-top: 30px;
}
[np-connections-lists] .tools.order label.inside-list {
    display: inline-block;
    margin-left: 3px;
}
[np-connections-lists] .tools.order .order-btn {
    margin-top: -5px;
    border-color: @orderElementColor;
}
[np-connections-lists] .tools.order .check-options .filters {
    width: 400px;
    margin-left: 80px;
    margin-top: -5px;
}
[np-connections-lists] .tools.order .check-options .filters .span3 {
    width: 180px;
}

/* lists-set */
[np-connections-lists] .lists-set .lists {
    margin: 10px 0 0 0;
    list-style: none;
}
[np-connections-lists] .lists-set .lists > .list {
    display: block;
    padding: 2px 0;
    border-top: 1px solid @defaultLineColor;
}
[np-connections-lists] .lists-set .lists > .list > .row {
    position: relative;
}
[np-connections-lists] .lists-set .lists > .list:first-child {
    border-top: 0 none;
}
[np-connections-lists] .lists-set .lists > .list [np-connections-checked] {
    padding: 8px 0;
}
[np-connections-lists] .lists-set .lists > .list [np-connections-checked] a:hover,
[np-connections-lists] .lists-set .lists > .list [np-connections-checked] a.checked {
    color: @orderElementColor;
}
[np-connections-lists] .lists-set .lists > .list .click-wrapper {
    width: 904px;
    padding: 8px 0;
    overflow: hidden;
}
[np-connections-lists] .lists-set .lists > .list .click-wrapper:hover {
    cursor: pointer;
}
[np-connections-lists] .lists-set .lists > .list .click-wrapper:hover a,
[np-connections-lists] .lists-set .lists > .list .click-wrapper:hover .muted {
    color: @nkbRed;
}
[np-connections-lists] .lists-set .lists > .list .click-wrapper a {
    display: inline-block;
}

/* list-info */
[np-connections-lists] .list-info {
    margin-bottom: 20px;
    padding-top: 10px;
}
[np-connections-lists] .list-info .list-name:not(input) {
    position: relative;
    max-width: 400px;
    font-size: 24.5px;
    line-height: 30px;
    color: @defaultLightColor;
}
[np-connections-lists] .list-info .list-name [np-inline-edit] .inline-edit-input {
    min-width: 400px;
}
[np-connections-lists] .list-info .list-type {
    padding-top: 6px;
}

/* new-list */

/* current-list */
[np-connections-lists] .current-list .list-entries .list-entry {
    position: relative;
    margin-bottom: 20px;
    padding: 7px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid @defaultShadowBorderColor;
    background-color: @defaultBackgroundColor;
}
[np-connections-lists] .current-list .list-entries .list-entry.shadow-lift-lb-corner:after {
    background-color: @defaultBackgroundColor;
}
[np-connections-lists] .current-list .list-entries .list-entry .list-item-info {
    padding: 7px 13px 0 0;
}
[np-connections-lists] .current-list .list-entries .user-data-wrapper {
    margin-left: 10px;
}
[np-connections-lists] .current-list .list-entries .user-data-wrapper .row {
    margin-left: 0;
}
[np-connections-lists] .current-list .list-entries .list-entry .user-data-label {
    float: left;
    padding-right: 5px;
    color: @userDataColor;
}
[np-connections-lists] .current-list .list-entries .list-entry .user-data {
    float: left;
    position: relative;
    max-width: 400px;
}
[np-connections-lists] .current-list .list-entries .list-entry .user-data .text {
    color: @userDataColor;
}
[np-connections-lists] .current-list .list-entries .list-entry .user-data [np-inline-edit] {
    font-size: 120%;
}
[np-connections-lists] .current-list .list-entries .list-entry .user-data [np-inline-edit] .inline-edit-input {
    min-width: 400px;
}
[np-connections-lists] .current-list .list-entries .list-entry .user-data [np-inline-edit] .inline-edit-on {
    top: -1px;
    visibility: hidden;
}
[np-connections-lists] .current-list .list-entries .list-entry:hover .user-data [np-inline-edit] .inline-edit-on {
    visibility: visible;
}
[np-connections-lists] .current-list .list-entries .list-entry .validation-info {
    padding: 5px 0 0 2px;
    color: @userDataColor;
}
[np-connections-lists] .current-list .list-entries .list-entry [np-connections-node-info] {
    margin-bottom: -5px;
    padding: 10px 0 0 2px;
}
[np-connections-lists] .current-list .list-entries .list-entry [np-connections-node-info].INDIVIDUAL .node-header {
    margin-bottom: 5px;
}

/* add-list-entries */
[np-connections-lists] [np-connections-lists-add-list-entries] {
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    border-top: 1px solid @defaultLineColor;
    border-bottom: 1px solid @defaultLineColor;
}
[np-connections-lists-add-list-entries] .tools {
    margin-bottom: 20px;
}
[np-connections-lists-add-list-entries] .inline {
    vertical-align: top;
}
[np-connections-lists-add-list-entries] .file-name {
    max-width: 250px;
    font-style: italic;
}
[np-connections-lists-add-list-entries] textarea {
    width: 366px;
    max-width: 366px;
    min-width: 366px;
    margin: 0 0 10px 0;

    word-wrap: normal;
    white-space: pre;
    overflow: auto;
}
[np-connections-lists-add-list-entries] .actions {
    margin-bottom: 20px;
}
[np-connections-lists-add-list-entries] .actions a {
    vertical-align: -5px;
}
