<!-- inline-edit -->
<script id="inline-edit" type="text/template">
    <span class="inline-edit-input input-append" ng-show="active">
        <input class="span2" type="text" ng-model="newText">
        <button class="btn flat save" title='${_trc("Сохранить", "inline-edit")}' ng-click="edit()"><i class="icon i-save-3"></i></button>
        <button class="btn flat cancel" title='${_trc("Отменить", "inline-edit")}' ng-click="off()"><i class="icon i-delete"></i></button>
    </span>
    <span class="inline-edit-on" ng-hide="active">
        <a title='${_trc("Изменить", "inline-edit")}' ng-click="on()"><i class="icon i-edit"></i></a>
    </span>
</script>
