<!-- lists-view -->
<script id="lists-view" type="text/template">
    <div class="tab-content">
        <!-- Просмотр списков -->
        <div class="tab-pane active" id="np-connections-lists-lists">
            <ul class="row lists-nav tools">
                <li class="span6" ng-show="navigation.prevTarget === '#np-connections-lists-list'"><a data-target="#np-connections-lists-list" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к просмотру списка", "Пользовательские списки")}</a></li>
                <li class="align-right"><a data-target="#np-connections-lists-new-list" ng-click="navigation.doNav($event)"><i class="icon i-plus"></i> ${_trc("Новый список", "Пользовательские списки")}</a></li>
            </ul>
            <div class="row tools order" ng-hide="lists.isEmpty()">
                <div class="span8 muted">${_tr("Отметьте список или несколько списков для проверки связей")}</div>
                <div class="align-right">
                    <button class="btn flat order-btn" ng-disabled="!lists.isChecked()"><i class="icon i-graph-cluster"></i>&nbsp;&nbsp;${_trc("Проверить связи", "Связи между объектами")}</button>
                </div>
            </div>
            <div class="muted align-center" ng-show="lists.isEmpty()">${_trc("У вас нет списков", "Пользовательские списки")}</div>
            <ul class="lists" ng-hide="lists.isEmpty()">
                <li class="row list" ng-repeat="list in lists.list track by $index">
                    <div class="span1 list-checked-wrapper">
                        <a class="list-checked" ng-class="{'checked': list.__checked}" ng-click="lists.check(list)"><i class="icon" ng-class="{'i-check-checked': list.__checked, 'i-check-unchecked': !list.__checked}"></i></a>
                    </div>
                    <div class="span8 list-name-wrapper">
                        <a data-target="#np-connections-lists-list" ng-click="navigation.doNav($event)">{{list.name}}</a>
                    </div>
                    <div class="muted align-right">{{_tr('NP.CONNECTIONS.LIST_TYPE.' + list.type)}}</div>
                </li>
            </ul>
        </div>

        <!-- Просмотр списка -->
        <div class="tab-pane" id="np-connections-lists-list">
            <ul class="row lists-nav tools">
                <li class="span6"><a data-target="#np-connections-lists-lists" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к спискам", "Пользовательские списки")}</a></li>
            </ul>

            // TODO Список
        </div>

        <!-- Новый список -->
        <div class="tab-pane" id="np-connections-lists-new-list">
            <ul class="row lists-nav tools">
                <li class="span6"><a data-target="#np-connections-lists-lists" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к спискам", "Пользовательские списки")}</a></li>
            </ul>
            <div class="new-list">
                <div class="row list-info">
                    <div class="span5">
                        <input class="input-block-level" type="text" placeholder='${_trc("Введите наименование нового списка", "Пользовательские списки")}' ng-model="newList.list.name">
                    </div>
                    <div class="align-right">
                        <select class="span4" ng-model="newList.list.type">
                            <option value="" selected="!newList.list.type" disabled>${_trc("Укажите тип объектов в списке...", "Пользовательские списки")}</option>
                            <option value="COMPANY" selected="newList.list.type === 'COMPANY'">{{_tr('NP.CONNECTIONS.LIST_TYPE.COMPANY')}}</option>
                            <option value="INDIVIDUAL" selected="newList.list.type === 'INDIVIDUAL'">{{_tr('NP.CONNECTIONS.LIST_TYPE.INDIVIDUAL')}}</option>
                        </select>
                    </div>
                </div>
                <div ng-show="newList.list.type" np-connections-lists-add-list-entries="newList.addListEntriesProxy"></div>
                <div class="align-right">
                    <button class="btn flat" ng-disabled="!newList.isReady()"><i class="icon i-save-3"></i>&nbsp;&nbsp;${_trc("Добавить новый список", "Пользовательские списки")}</button>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- lists-view -->
<script id="add-list-entries-view" type="text/template">
    <form>
        <div class="row tools">
            <div class="span8">
                <a class="inline" ng-class="{'active': target === 'text'}" ng-click="doTarget('text')">
                    <span ng-show="proxy.getListType() === 'COMPANY'">${_trc("Введите компании", "Введите ... или добавьте из файла")}</span>
                    <span ng-show="proxy.getListType() === 'INDIVIDUAL'">${_trc("Введите физических лиц", "Введите ... или добавьте из файла")}</span>
                </a>
                <span class="inline">${_trc("или", "Введите ... или добавьте из файла")}</span>
                <span class="inline link add-file attach-file-wrapper" ng-class="{'active': target === 'file'}">${_trc("добавьте из файла", "Введите ... или добавьте из файла")}<input type="file" name="file" accept="text/*,text/anytext,text/comma-separated-values,application/csv"></span>
                <span class="inline file-name text-ellipsis">{{file.name}}</span>
            </div>
            <div class="align-right">
                <a class="inline underline" href="./examples/files/company-list.txt" target="_blank" ng-show="proxy.getListType() === 'COMPANY'">${_trc("Пример файла с данными компаний", "Пользовательские списки")}</a>
                <a class="inline underline" href="./examples/files/individual-list.txt" target="_blank" ng-show="proxy.getListType() === 'INDIVIDUAL'">${_trc("Пример файла с данными физических лиц", "Пользовательские списки")}</a>
            </div>
        </div>
        <div ng-show="target === 'text'">
            <textarea rows="10"></textarea>
            <div class="muted">
                <span ng-show="proxy.getListType() === 'COMPANY'">${_trc("Одна строка — одна компания", "Введите ... или добавьте из файла")}</span>
                <span ng-show="proxy.getListType() === 'INDIVIDUAL'">${_trc("Одна строка — одно физическое лицо", "Введите ... или добавьте из файла")}</span>
            </div>
        </div>
    </form>
</script>
