<!-- lists-view -->
<script id="lists-view" type="text/template">
    <div class="tab-content">
        <!-- Просмотр списков -->
        <div class="tab-pane active" id="np-connections-lists-lists">
            <ul class="row lists-nav tools">
                <li class="span6" ng-show="navigation.prevTarget === '#np-connections-lists-list'"><a data-target="#np-connections-lists-list" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к просмотру списка", "Пользовательские списки")}</a></li>
                <li class="align-right"><a data-target="#np-connections-lists-new-list" ng-click="navigation.doNav($event)"><i class="icon i-plus"></i> ${_trc("Новый список", "Пользовательские списки")}</a></li>
            </ul>
            <div class="row tools order" ng-hide="lists.isEmpty()">
                <div class="span8 muted">${_tr("Отметьте список или несколько списков для проверки связей")}</div>
                <div class="align-right">
                    <button class="btn flat order-btn" ng-disabled="!lists.isChecked()"><i class="icon i-graph-cluster"></i>&nbsp;&nbsp;${_trc("Проверить связи", "Связи между объектами")}</button>
                </div>
            </div>
            <div class="muted align-center" ng-show="lists.isEmpty()">${_trc("У вас нет списков", "Пользовательские списки")}</div>
            <ul class="lists" ng-hide="lists.isEmpty()">
                <li class="row list" ng-repeat="list in lists.list track by $index">
                    <div class="span1 list-checked-wrapper">
                        <a class="list-checked" ng-class="{'checked': list.__checked}" ng-click="lists.check(list)"><i class="icon" ng-class="{'i-check-checked': list.__checked, 'i-check-unchecked': !list.__checked}"></i></a>
                    </div>
                    <div class="span8 list-name-wrapper">
                        <a data-target="#np-connections-lists-list" ng-click="navigation.doNav($event)">{{list.name}}</a>
                    </div>
                    <div class="muted align-right">{{_tr('NP.CONNECTIONS.LIST_TYPE.' + list.type)}}</div>
                </li>
            </ul>
        </div>

        <!-- Просмотр списка -->
        <div class="tab-pane" id="np-connections-lists-list">
            <ul class="row lists-nav tools">
                <li class="span6"><a data-target="#np-connections-lists-lists" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к спискам", "Пользовательские списки")}</a></li>
            </ul>

            // TODO Список
        </div>

        <!-- Новый список -->
        <div class="tab-pane" id="np-connections-lists-new-list">
            <ul class="row lists-nav tools">
                <li class="span6"><a data-target="#np-connections-lists-lists" ng-click="navigation.doNav($event)">&larr; ${_trc("вернуться к спискам", "Пользовательские списки")}</a></li>
            </ul>
            <div class="new-list">
                <div class="row list-info">
                    <div class="span5">
                        <input class="input-block-level" type="text" placeholder='${_trc("Введите наименование нового списка", "Пользовательские списки")}'>
                    </div>
                    <div class="align-right">
                        <select class="span4">
                            <option disabled="disabled" selected="selected">${_trc("Укажите тип объектов в списке...", "Пользовательские списки")}</option>
                            <option>{{_tr('NP.CONNECTIONS.LIST_TYPE.COMPANY')}}</option>
                            <option>{{_tr('NP.CONNECTIONS.LIST_TYPE.INDIVIDUAL')}}</option>
                        </select>
                    </div>
                </div>
                <form add-list-entries>
                    <div class="tools">
                        <a class="inline active">${_trc("Ввести", "Ввести компании или добавить из файла]")} ${_trc("компании", "Ввести компании или добавить из файла]")}</a>
                        <span class="inline">${_trc("или", "Ввести компании или добавить из файла]")}</span>
                        <span class="inline link attach-file-wrapper">${_trc("добавить из файла", "Ввести компании или добавить из файла]")}<input type="file" name="file"></span>
                    </div>
                    <textarea rows="10"></textarea>
                </form>
                <div class="align-right">
                    <button class="btn flat" ng-disabled="false"><i class="icon i-save-3"></i>&nbsp;&nbsp;${_trc("Добавить новый список", "Пользовательские списки")}</button>
                </div>
            </div>
        </div>
    </div>
</script>
